upload_to_navvukundam_raa_youtube_from_gogole_sheet_1000_days_day1
{
  "name": "upload to navvukundam raa youtube from gogole sheet 1000 days day1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        -40
      ],
      "id": "a34bdddf-e200-434d-b36a-fbb135f727b7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O8dFvhsqcDwKHCPEXW5vQRusuEr9uQkm6tAVVxiF5FI",
          "mode": "list",
          "cachedResultName": "1000days_day1_videos_meta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8dFvhsqcDwKHCPEXW5vQRusuEr9uQkm6tAVVxiF5FI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8dFvhsqcDwKHCPEXW5vQRusuEr9uQkm6tAVVxiF5FI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "reviewed",
              "lookupValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        100,
        -40
      ],
      "id": "a43b967d-9a19-467e-9b4c-25fd20715d91",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YBrhf9hbzoUmSQhG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['video url'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -40
      ],
      "id": "bf4713c6-33b9-4d33-9a13-ebe6f82dd98a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "regionCode": "IN",
        "categoryId": "24",
        "options": {
          "description": "={{ $json.description }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        500,
        -40
      ],
      "id": "2a2f1480-26f7-4c9c-b811-8ec3204f5b7e",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "9pfmTPK2TzotnTHU",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1O8dFvhsqcDwKHCPEXW5vQRusuEr9uQkm6tAVVxiF5FI",
          "mode": "list",
          "cachedResultName": "1000days_day1_videos_meta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8dFvhsqcDwKHCPEXW5vQRusuEr9uQkm6tAVVxiF5FI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8dFvhsqcDwKHCPEXW5vQRusuEr9uQkm6tAVVxiF5FI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "youtube url": "={{ $json.uploadId }}"
          },
          "matchingColumns": [
            "video url"
          ],
          "schema": [
            {
              "id": "reviewed",
              "displayName": "reviewed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video url",
              "displayName": "video url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube url",
              "displayName": "youtube url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uploadId",
              "displayName": "uploadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        840,
        -200
      ],
      "id": "ddf283d3-e611-4ba6-8737-a90b571deb92",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YBrhf9hbzoUmSQhG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        -200
      ],
      "id": "9e4e8e0e-c1f7-4037-89fb-d4bcc6cb1c1f",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1d51e6aa-a7df-43a4-99d4-63679227eb9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13b539952c9719113db3ce29845755ab93f749a0d22811c6f27eb7e5aeee38da"
  },
  "id": "elE4Rz7L7Eq7wvnr",
  "tags": []
}
